.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.formInput {
  padding: 12px;
  display: inline-block;
}
.formInput input {
  padding: 6px;
  font-size: 12px;
  margin-left: 12px;
  border-radius: 6px;
  width: 40px;
}

.formErrors {
  color: red;
  font-size: 12px;
}

.formSubmit  {
  height: 20px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #5880f1;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  line-height: 0px;
  border: none;
}

pre {
  font-size: 14px;
}